/*
	@package simpletheme
*/

/* 
	Variables
	------------------------------------------------
*/

//FONTS
$icon-font : 'simple-icon';
$body-font : 'Oswald', Arial, Verdana, sans-serif;
$special-font : 'Knewave', cursive;

//COLORS
$primary-color : #000000;
$pale-red : #FFAB9F;
$dark-grey : #5A5A5A;
$mid-grey : #676767;
$grey : #CDCDCD;
$light-grey : #EBEBEB;
$lighter-grey : #F1F1F1;
$grey-hover : #dddddd;

//BREAKPOINT WIDTHS
$xxs: 389px;
$xs: 498px;
$sm: 767px;
$md: 992px;
$lg: 1199px; 